
/* Site Background */
body:after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #121214;
    background-image: url('../home_page/back.png');
    /* background-size: cover; */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: -1;
}
.content-wrap {
}

/* Boxed container */
.content-wrap {
    max-width: 1240px;
}

.image-banner{
    margin-top: 7em;
    text-align: center;   
}

.image-banner2{
    min-height: 100px;   
}

.banner-img{
    width: 68%;
    opacity: 0.08;
}

.center-txt{
    text-align: center;
    opacity: 0.8;
    font-weight: bold;
    font-size: 1.7em;
    margin-top: -10%;
}


.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.65;
    font-size: 1.6em;
}

.first-line{
    letter-spacing: 1.2em;
    font-weight: 100;
    font-size: 1.2em;
    font-weight: bold;
}

.second-line{
    letter-spacing: 1.2em;
    font-weight: 100;
    font-size: 0.6em;
    font-weight: bold;
}

@media screen and (max-device-width: 480px) {
    .first-line{
        letter-spacing: 1em;
        font-weight: 100;
        font-size: 0.7em;
        font-weight: bold;
    }
    
    .second-line{
        letter-spacing: 1em;
        font-weight: 100;
        font-size: 0.4em;
        font-weight: bold;
    }    
    .center-txt{
        text-align: center;
        opacity: 0.8;
        font-weight: bold;
        font-size: 0.9em;
        margin-top: 10%;
    }    
    
  }